
/* CSS Reset Rules */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/***********************************/
/*********** Starts Here ***********/
/***********************************/

/* Dark Mode Settings */

.dark {  background-image: linear-gradient(to bottom, #104661, #144451, #0E343F, #092E3A, #022431, #02151F);
}
.dark header, .dark footer {
  background-color: #272727;
}

.dark #certifications {
  background-color: rgba(6, 4, 4, 0.37);
}

.dark .checkbox-label {
  background-color: #565656;
}

.dark .experience-item {
  background-color: rgba(25, 197, 210, 0.1);
}

.dark #github-link {
  filter: invert(100%);
}

.dark .fa-sun {
  visibility: hidden;
}

.dark .fa-moon {
  visibility: visible;
}

.dark h1, .dark h2, .dark h3, .dark ul, .dark .degree, .dark .nav-link {
  color: white;
}

.dark p {
  color: #cccccc;
}

.dark .cert-text p {
  color: rgba(255, 255, 255, 0.57);
}

.dark #contact-button {
  color: white;
  background-color: #4A4545;
}

.dark #send-icon {
  filter: invert(100%);
}

.dark #profile-pic {
  border: 2px solid black;
}

/* <820px (Mobile + Tablet Design) */

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, #FFFFFF, #D0F5FF, #ADEDFE, #93E7FF, #3FBAF8);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  color: black;
}

.section-title {
  text-align: center;
  margin-top: 10px;
  font-family: "Inder";
  font-weight: 400;
}

h1 {
  font-family: "Archivo";
  color: #363636;
  font-weight: 600;
}

p, #contact-button {
  font-family: "Mako";
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  /*border: 2px solid black;*/
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.header-container {
  display: flex;
  /*border: 1px solid red;*/
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  /*border: 2px solid blue;*/
}

#header-title {
  font-family: "Mako";
  font-weight: 300;
}

#nav-menu {
  display: inline-flex;
  /*border: 2px solid green;*/
  width: fit-content;
  list-style-type: none;
  gap: 10px;
}

.nav-link {
  font-family: "Inder";
  text-decoration: none;
  color: black;
}

.nav-item {
  transition: transform .2s;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-link:visited {
  color: none;
}

#checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.205);
  width: 25px;
  height: 25px;
  border-radius: 5px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .2s;
}

.checkbox-label:hover {
  transform: scale(1.1);
}

.fa-moon {
  color: white;
  visibility: hidden;
  position: absolute;
}

.fa-sun {
  color: #f7cb09;
  position: absolute;
  visibility: visible;
}

/* Home */

#home {
  /*border: 1px solid red;*/
  padding: 20px 20px;
}

#profile-pic {
  border-radius: 50%;
  border: 2px solid #ADDFD7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 60%;
}

#home .section-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#contact-button {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
  height: 50%;
  cursor: pointer;
  transition: transform .2s;
  border-radius: 5px;
  padding: 4px 5px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: black;
}

#contact-button:hover, .home-link:hover {
  transform: scale(1.1);
}

#github-link, #linkedin-link {
  width: 40px;
  transition: transform .2s;
}

#home-links {
  display: flex;
  align-items: center;
  /*border: 1px solid brown;*/
  gap: 5px;
}

#send-icon {
  width: 20px;
  display: inline;
}


/* Skills */

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid black;*/
}

.skills-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  /*border: 1px solid green;*/
  gap: 20px 40px;
  width: fit-content;
  margin: 30px;
}

.skills-item {
  width: 80px;
  text-align: center;
}

/* Education */

ul {
  padding-left: 10px;
}

#timeline {
  position: relative;
  margin: 30px 60px;
}

#timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: white;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  left: 32px;
}

.edu-title, li {
  font-family: "Nokora", sans-serif;
}

.education-item {
  display: flex;
  position: relative;
  background-color: inherit;
  width: 75%;
  left: 35px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 10px;
}

.level-and-date {
  color: rgba(0, 0, 0, 0.52);
}

#timeline .education-item:nth-child(even) {
  flex-direction: row-reverse;
  gap: 10px;
}

.connector-line {
  width: 40px;
  background-color: #fff;
  height: 4px;
  margin-top: 12px;
  flex-shrink: 0;
  border-radius: 0px 2px 2px 0px;
}

.cert-icon {
  width: 75px;
}

#certifications h2 {
  text-align: center;
  font-family: "Inder";
  text-decoration: underline;
}

#certifications {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.certifications-item {
  display: flex;
  gap: 10px;
  margin: 15px 0px;
  font-family: "Nokora", sans-serif;
}

.cert-text p {
  color: rgba(0, 0, 0, 0.57);
}

/* Experience */

.experience-item {
  display: flex;
  flex-direction: column;
  background-color: rgba(68, 90, 92, 0.1);
  padding: 20px 20px;
  margin: 10px;
  border-radius: 10px;
  gap: 15px;
  max-width: 600px;
}

#recordcrate-img {
  width: 100px;
  border-radius: 5px;
}

#DBVMD-image {
  width: 400px;
  align-self: center;
}

.exp-title {
  font-family: "Nokora", sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.exp-list {
  list-style-type: none;
  margin-left: -10px;
}

.exp-list li {
  margin: 10px 0px;
}

/* Footer */

footer {
  background-color: #004E7E;
  color: white;
  text-align: center;
  font-family: "Inria Serif", serif;
  width: 100%;

}

/* >820px (Desktop Design) */


@media (min-width: 820px) {

.section-content {
  margin: 30px;
}

.section-title {
  font-size: 2rem;
}

.header-container {
  justify-content: center;
  gap: 20%;
}

#nav-menu {
  align-self: center;
}

#home .section-content {
  flex-direction: row;
  max-width: 1200px;
  padding: 15px;
}

#home .section-body {
  padding-top: 30px;
  gap: 10px;
  text-align: left;
  align-items: flex-start;
  flex: 1 1 300px;
}

#profile-pic {
  width: 300px;
  max-width: 500px;
  flex: 1 1 300px;
}

h1 {
  font-size: 4rem;
  align-self: flex-start;
  line-height: 60px;
}

.skills-grid {
  grid-template-columns: auto auto auto auto auto;
}

.skills-item {
  width: 100px;
}

#education .section-content {
  flex-direction: row;
  gap: 0;
}

#timeline {
  align-self: flex-start;
  display: flex;
  height: fit-content;
}

#timeline::after {
  left: 50%;
}

.education-item {
  flex-direction: row;
  justify-content: flex-end;
  left: 1px;
}

.connector-line {
  border-radius: 2px 0px 0px 2px;
}

.education-item:nth-child(even) {
  align-self: center;
  margin-top: 100px;
}

.education-item:nth-child(even) .connector-line {
  border-radius: 0px 2px 2px 0px;
}

.experience-item {
  flex-direction: row;
  width: fit-content;
  max-width: 1000px;
}

.experience-text {
  flex: 1 0 200px;
  align-self: center;
}

#DBVMD-image {
  flex: 1 1 300px;
  border-radius: 10px;
}

#recordcrate {
  flex-direction: row-reverse;
}

}
