{{ define "main" }}
<section id="home">
    <div class="section-content">
        <img src="/{{ .Params.profile_image }}" alt="profile-pic" id="profile-pic">
        <div class="section-body">
            <h1>{{ .Site.Title }}</h1>
            <h3>{{ .Params.role }}</h3>
            {{ .Content }}
            <div id="home-links">
                <a href="https://github.com/WLedden">
                    <img src="images/github.svg" alt="github" id="github-link" class="home-link">
                </a>
                <a href="https://www.linkedin.com/in/william-ledden/">
                    <img src="images/linkedin.svg" alt="linkedin" id="linkedin-link" class="home-link">
                </a>
                <a  href="mailto:WillLedden@outlook.com"id="contact-button">Contact me
                    <img src="images/send-icon.svg" alt="send-icon" id="send-icon" class="home-link">
                </a>
            </div>
        </div>
    </div>
</section>

<section id="experience">
    <h2 class="section-title">Experience</h2>
    <div class="section-content">
        {{ range (site.GetPage "/experience").Pages.ByWeight }}
        <div class="experience-item">
            <img src="/{{ .Params.image }}" alt="{{ .Title }}" class="experience-image">
            <div class="experience-text">
                <h3 class="exp-title">{{ .Title }}</h3>
                {{ .Content }}
            </div>
        </div>
        {{ end }}
    </div>
</section>

<section id="education">
    <h2 class="section-title">Education</h2>
    <div class="section-content">
        <div id="timeline">
            {{ range (site.GetPage "/education").Pages.ByWeight }}
            <div class="education-item">
                <div class="item-content">
                    <h3 class="edu-title">{{ .Title }}</h3>
                    <p class="level-and-date">{{ .Params.level }}</p>
                    {{ with .Params.degree }}<p class="degree">{{ . }}</p>{{ end }}
                    {{ .Content }}
                </div>
                <div class="connector-line"></div>
            </div>
            {{ end }}
        </div>
        <div id="certifications">
            <h2 class="section-title">Certifications</h2>
            <div id="certifications-content">
                {{ range site.Data.certifications }}
                <div class="certifications-item">
                    <img src="/{{ .icon }}" alt="{{ .name }} icon" class="cert-icon">
                    <div class="cert-text">
                        <h3>{{ .name }}</h3>
                        <p>{{ .issuer }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <h2 class="section-title">Skills</h2>
    <div class="section-content">
        <div class="skills-grid">
            {{ range readDir "static/images/skills" }}
                {{ if not .IsDir }}
                <div class="skills-item">
                    <img src="/images/skills/{{ .Name }}" alt="{{ .Name }}" loading="lazy">
                    <p class="skill-name">{{ replaceRE `\.[^.]+$` "" .Name }}</p>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}